<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home for Pets</title>
  </head>
  <body>
    <form action="/auth/sign-in" method="POST">
      <label for="email">email:</label>
      <input type="text" name="email" id="email" />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />

      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
