<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home for Pets</title>
  </head>
  <body>
    <form action="/auth/sign-up" method="POST">
      <label for="name">name:</label>
      <input type="text" name="name" id="name" required/> <br />

      <label for="phone">phone:</label>
      <input type="number" name="phone" id="phone" required/> <br />

      <label for="name">email:</label>
      <input type="email" name="email" id="email" required/><br />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required/><br />

      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" required/><br />

      <button type="submit">Sign up</button>
    </form>
  </body>
</html>
