<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home for Pets</title>
  </head>
  <body>
    <nav>
      <h5>Home for Pets</h5>
      <a href="#">Adopt</a>
      <% if (user) { if (user.userType === 'user') { %>
      <a href="pets/rehome">Rehome</a>
      <% } %>
      <a href="auth/logout">Logout</a>
      <% } else { %>
      <a href="auth/sign-in">Sign In</a>
      <a href="auth/sign-up">Sign Up</a>
      <% } %>
    </nav>