<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <form action="/pets/<%=pet._id%>?_method=PUT" method="POST">
      <fieldset>
        <legend>Edit <%=pet.name%> information</legend>
        <br />
        <%- include('../partials/petForm.ejs', {pet: pet}) %>
        <button type="submit">Edit</button>
      </fieldset>
    </form>
  </body>
</html>
