<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home for Pets</title>
  </head>
  <body>
    <h1>All Pets</h1>
    <ul>
      <% pets.forEach(pet => { %>
      <li onclick="location.href='/pets/<%= pet._id %>'">
        <p>Name: <%= pet.name %></p>
        <p>Gender: <%= pet.gender %></p>
      </li>
      <button>Adopt</button>
      <br />
      <%}); %>
    </ul>
  </body>
</html>
