<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home for Pets</title>
  </head>
  <body>
    <form action="/pets" method="POST">
      <fieldset>
        <legend>Add Pet For Adoption</legend>
        <br />
        <%- include('../partials/petForm.ejs', {pet: null}) %>
        <button type="submit">Submit</button>
      </fieldset>
    </form>
  </body>
</html>
